@use '../public-main.scss';

body {
  margin: 0;
  background-color: $background;
}

.page{
  width: 100%;
  overflow: hidden;
  min-height: 100dvh;
  padding: 0 0 $header_height;
}
.container {
  width: 1280px;
  margin: 0 auto;
  max-width: 100%;
}
