// header height
$header_height: 80px;

// font style
@mixin h1 () {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Inter';
}
@mixin h2 () {
  line-height: 1;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Inter';
}
@mixin h3 () {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Inter';
}
@mixin body () {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.15%;
}