$white:     #FFFFFF;
$black:     #2A2418;
$red:       #E70012;
$green:     #22BA4F;
// $background:#fafeff;
$grey:      #77736b;
$grey-light:#c2b9a8;
$yellow:    #f9db61;
$mustard:   #9b7b00;
$oat:       #ece8dd;
$background:#fffdf7;
$stone:     #ddd9cf;
$brown:     #806500;

// hover status color
$white-hover: #F6F6F6;
$black-hover: #444444;
$red-hover:   #BC2424;
$yellow-hover:#dfc149;
$green-hover: #16a340;



@mixin flexbox ($direction, $justify-content, $align-items) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
  justify-content: $justify-content;
}
