$white:     #FFFFFF;
$black:     #000000;
$red:       #E70012;
$green:     #22BA4F;
$background:#fafeff;
$grey:      #F3F3F3;
$yellow:    #f9db61;

// hover status color
$white-hover: #F6F6F6;
$black-hover: #444444;
$red-hover:   #BC2424;
$yellow-hover:#dfc149;
$green-hover: #16a340;



@mixin flexbox ($direction, $justify-content, $align-items) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
  justify-content: $justify-content;
}
