@use '@/shared/assets/scss/main.scss';

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: $yellow;
}

.page{
  width: 100%;
  overflow: hidden;
  min-height: 100dvh;
  background-color: $background;
  padding: 28px 12px calc($header_height + 28px);
}
.container {
  width: 1280px;
  margin: 0 auto;
  max-width: 100%;
}

input{
  font-size: 16px;
}

.btn-click-effect{
  z-index: 0;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  border-radius: 8px;
  &::after{
    top: 50%;
    left: 50%;
    width: 100%;
    opacity: 0;
    z-index: 0;
    content: '';
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    pointer-events: none;
    background-color: rgba($black, .1);
    transform: translate(-50%, -50%) scale(2);
    transition: opacity .35s ease-out;
  }
  &:active::after,
  &.is-pressed::after{
    opacity: 1;
    animation: btn-click-effect .3s ease-out forwards;
    transition: opacity 0s;
  }
  >*{
    z-index: 1;
    position: relative;
  }
}

.list-btn-click-effect{
  border-radius: 0;
}

.btn-color-effect{
  transition: opacity .2s;
  &:active{
    opacity: .55;
  }
}

@keyframes btn-click-effect{
  from{
    transform: translate(-50%, -50%) scale(0);
  }
  to{
    transform: translate(-50%, -50%) scale(2);
  }
}

.component.breadcrumb + *{
  margin-top: 24px;
}
