@use '@/shared/assets/scss/main.scss';

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: $yellow;
}

.page{
  width: 100%;
  overflow: hidden;
  padding: 28px 12px;
  min-height: 100dvh;
  background-color: $background;
  padding-bottom: $header_height;
}
.container {
  width: 1280px;
  margin: 0 auto;
  max-width: 100%;
}
